<div>
  <div><h2>Visualizar Eventos</h2></div>
</div>
<div *ngIf="esUsuario">
  <a routerLink="/eventos/crear">
    <button>Agregar evento</button>
  </a>
</div>
<div>
  <div *ngIf="error" style="color: red">
    <label>{{error}}</label>
  </div>
  <div>
    <label for="buscarUsuaro">BUSCAR</label>
    <input type="text" name="buscarUsuario" id="buscarUsuaro" placeholder="Busqueda de eventos por nombre" [(ngModel)]="textoBuscar">
    <button (click)="buscarTexto()"> Buscar </button>
  </div>
  <div>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Fecha del evento</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let objeto of eventos">
        <td>{{objeto.nombre}}</td>
        <td>{{objeto.fecha}}</td>
        <td>
          <a [routerLink]="['/eventos','vermaterias',objeto.id]"><button>Ver</button></a>
          <div *ngIf="esUsuario">
            <a [routerLink]="['/eventos','agregarMateria',objeto.id]" ><button>Anadir hijos a evento</button></a>
          </div>
          <div *ngIf="esCajero"><button (click)="gestionFactura(objeto.id)">Gestion Facturas</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
