<div>
  <h3>Facturas del cliente</h3>
</div>
<div>
  <table>
    <tr>
      <th>Nombre emitido</th>
      <th>Fecha emitida</th>
      <th>Total</th>
      <th>Tipo Pago</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let factura of facturas">
      <td>{{factura.nombre}}</td>
      <td>{{factura.fecha}}</td>
      <td>{{factura.total}}</td>
      <td>{{factura.tipoPago}}</td>
      <td>
        <a [routerLink]="['/cliente','verFactura',factura.id]"><button>Ver</button></a>
      </td>
    </tr>
  </table>
</div>
