<div>
  <h3 style="text-align: center">Bienvenidos a la Aplicaion Web</h3>
</div>
<ul>
  <li>
    <div>
      <a routerLink="/eventos">Eventos</a>
    </div>
  </li>
  <li>
    <div>
      <a routerLink="/administrador">Administrador</a>
    </div>
  </li>
  <li>
    <div>
      <a routerLink="/usuario">Usuario</a>
    </div>
  </li>
  <li>
    <div>
      <a routerLink="/cliente">Cliente</a>
    </div>
  </li>
  <li>
    <div>
      <a routerLink="/cajero">Cajero</a>
    </div>
  </li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>

