<div>
  <h1>REGISTRAR USUARIO</h1>
</div>
<div>
  <form #formularioLogin="ngForm"
        novalidate
        (submit)="registarse(formularioLogin)">
    <div>
      <label for="username">Username</label>
      <input id="username" type="text" required name="username"
             placeholder="username" maxlength="12"
             [(ngModel)]="usuario.nombre" #inputUsername="ngModel">
    </div>
    <div>
      <label for="correo">Correo Electronico</label>
      <input id="correo" type="email" required name="correo"
             placeholder="correo@dominio.region"  maxlength="27"
             [(ngModel)]="usuario.correo" #inputUsername="ngModel">
    </div>
    <div>
      <label for="fechanacimiento">Fecha de nacimiento</label>
      <input id="fechanacimiento" type="date" required name="fechanacimeinto"
             placeholder="Fecha Nacimiento" maxlength="12"
             [(ngModel)]="usuario.fechaNacimiento" #inputfecha="ngModel">
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" required name="password"
             placeholder="password" maxlength="12"
             [(ngModel)]="usuario.password" #inputPassword="ngModel">
    </div>
    <div *ngIf="formularioLogin.invalid" style="color: red">
      <label> todos los campos son obligatorios</label>
    </div>
    <div>
      <button id="buttonLogin" [disabled]="formularioLogin.invalid">
        Registrar
      </button>
    </div>
    <div *ngIf="error" style="color: red">
      <label>{{error}}</label>
    </div>
  </form>
</div>

<div>
  <a routerLink="/login"><button>Regresa a LogIn</button></a>
</div>
